<div class="mb-3">
  <label for="title" class="form-label">Título</label>
  <input type="text" class="form-control" id="title-EN" name="title-EN" <% if (content) {%>value="<%- content.en.title %>" <% }%> required>
</div>
<div class="mb-3">
  <label for="image" class="form-label">Imagen URL</label>
  <input type="text" class="form-control" id="image-EN" name="image-EN" <% if (content) {%>value="<%- content.en.image %>" <% }%> required>
</div>
<div class="mb-3">
  <label for="content" class="form-label">Contenido</label>
  <div style="display: flex; justify-content: space-around;">
    <input type="text" class="form-control" id="content-EN" name="content-EN" <% if (content) {%>value="<%- content.en.content %>" <% }%>>
    <div class="btn btn-primary" onclick="openEditor('content-EN')">Editor</div>
    <div id="editor"></div>
  </div>
</div>